<nav>
            
    <div class="logo">
        <img src="./assets/Additin.png" alt="">
    </div>

<div class="navRight">
   <div class="lists">
        <ul>
            <li>Home</li>
            <li>Products</li>
            <li>About</li>
            <li>Contact</li>
            <li>Ka</li>
        </ul>
    </div>
    <div class="profile">
        
    </div>
   
</div>
</nav>