<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap-styles') %>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
       <%- include('../partials/navbar') %>
    </header>
    <div class="dashboard-container">
       <div class="admin-sidebar">
        <ul>
            <li style="border-bottom:4px solid #003466;"><a href="/admin/dashboard" style="color: blue;">Dashboard</a></li>
            <li><a href="/admin/orders">Orders</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/userlists">Users</a></li>
            <li><a href="/admin/others">Other</a></li>
        </ul>
        <div class="logout-button">
            <a href="/admin/logout">Logout</a>
        </div>
       </div>
       <div class="userlists-div text-center" style="max-height: calc(100vh );">
           <img src="/assets/admin dashboard img.PNG" alt="">
       </div>
    </div>
        <%- include('../partials/footer')%>
        <%- include('../partials/bootstrap-script') %>
</body>
</html>