<% if (locals.adminSide) { %>
<div class="footer container-fluid" style="padding-left:16vw;">
<% } else { %>
    <div class="footer container-fluid" style="padding-left:10px">
<% } %>
    <div class=" description">
        <p>Our mission is to have a long term <br> relationships of value with our customers by providing quality products and services to fulfill the specific customer requirements and expectations.</p>
    </div>
    <div class="footerflex">
        
    </div>
    <div class="policy">
        <p>policy</p>
    </div>
    <div class="help">
        <p>let us help you</p>
    </div>

</div>