<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
       <%- include('../partials/navbar') %>
    </header>
  
        <div class="homepage">
            <div class="homepage-banner">
                <img src="/assets/babyparrot&large.jpg" alt="">
           </div>
        </div>
   
        <%- include('../partials/footer')%>
</body>
</html>