<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
       <%- include('../partials/navbar') %>
    </header>
    <main>
        <div class="add-address">
            <form action="/user/user-profile/add-address" method="POST">
                <label for="recipientName">House Name :</label>
                <input type="text" id="recipientName" name="houseName" required><br><br>
            
                <label for="streetAddress">Street Address:</label>
                <input type="text" id="streetAddress" name="streetAddress" required><br><br>
            
                <label for="city">City:</label>
                <input type="text" id="city" name="city" required><br><br>
            
                <label for="state">State:</label>
                <input type="text" id="state" name="state" required><br><br>
            
                <label for="postalCode">Postal Code:</label>
                <input type="text" id="postalCode" name="postalcode" required><br><br>

                <label for="mobile">Mobile</label>
                <input type="text" id="mobile" name="mobile" required><br><br>
            
               
                <input type="submit" value="Submit">
              </form>
        </div>
    </main>
        <%- include('../partials/footer')%>
</body>
</html>