:root{
    font-family: Arial, Helvetica, sans-serif;
    --main:#003466;
    --white:#fff;
    --secondary:#002442;
    --error : red;
}

body{
    padding: 4rem 0 0 0;
    margin: 0;
    box-sizing: border-box;
}

/*---------------------------------------------------nav bar-------------------------------------------*/

nav{
    width: 100%;
    height:4rem;
    background-color:var(--white);
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    
}
nav>.logo{
    height: inherit;
    margin-left: 15px;
}
nav>.logo>img{
    height: inherit;
    width:auto;
}
.navRight{
    display: flex;
    align-items: center;
    margin-right: 15px;
    height: inherit;
}
.lists>ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin:0;
    padding: 0;
    
}
.lists>ul>li{
    padding: 1.5rem 15px;    
    

}
.navRight>.profile{
    height: 2.5rem;
    width: 2.5rem;
    background-color: #D9D9D9;
    border-radius: 50%;
}
/*-----------------------------------------------------dash board-------------------------------------------------*/

.dashboard-container{
    min-height:calc(100vh - 160px);
    display: flex;

}
.admin-sidebar{
    height:calc(100vh - 4rem);
    width: 15vw;
    border-right: 2px solid black;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.userlists-div{
    min-height:calc(100vh - 160px) ;
    padding:10px 10px 5px 16vw;
    z-index: -10;
}
.admin-sidebar ul{
   margin: 0;
   margin-top: 10px;
   padding: 0;
}
.admin-sidebar ul li{
    list-style-type: none;
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px;
}
.admin-sidebar .logout-button{
    margin-bottom :100px; 
}

/*----------------------------------------------------user profile------------------------------------------------*/
.userprofile-main{
    min-height:calc(100vh - 160px) ;
}
.user-profile-box .left-userdetails{
    padding: 2rem 25vw 5rem 2rem ;

}
.user-profile-box .user-sidebar {
    height:calc(100vh - 14rem);
    width: 20vw;
    border: 2px solid black;
    position: fixed;
    right: 3rem;
    top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.user-profile-box .address-box{
    background-color: cornsilk;
    width: 20vw;
    padding: 10px;
    margin-bottom: 5px;
}
.user-profile-box .address-box p{
    padding: 0;
    margin: 0;
}


/*-----------------------------------------------------sign up----------------------------------------------------*/

main{
    min-height:calc(100vh - 160px) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
main>.signup-box{
    background-color: var(--main);
    color: var(--white);
    min-width: 25vw;
    height: 63vh;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
}
main>.signup-box input{
    margin-left: 45px;
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 8px 5px;
    width: 17vw;
    border-radius: 19px;
    border: 2px solid #47ABFF;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color:var(--white);
}
main>.signup-box label{
    margin-left: 55px;
    font-size: 12px;

}
main>.signup-box .sign-btn{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 18vw;
    margin-top: 5px;
    background-color: var(--secondary);
    font-weight: bold;
    cursor: pointer;
}
main>.signup-box>h2{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
}
.signup-box a, .login-box a{
    color:#47ABFF ;
    font-size: 13px;
    float: right;
}

/*-----------------------------------------------------login page-------------------------------------------------*/

main>.login-box{
    background-color: var(--main);
    color: var(--white);
    min-width: 25vw;
    height: 63vh;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main>.login-box input{
   
    margin-bottom: 10px;
    padding: 8px 5px;
    width: 17vw;
    border-radius: 19px;
    border: 2px solid #47ABFF;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color:var(--white);
}
main>.login-box label{
    margin-left: 10px;
    font-size: 12px;

}
main>.login-box .sign-btn{
    width: 18vw;
    margin-top: 5px;
    background-color: var(--secondary);
    font-weight: bold;
    cursor: pointer;
}

/*-----------------------------------------------------add-product-form-------------------------------------------*/
.addproduct-container{
    min-height:calc(100vh - 160px);
    display: flex;
    align-items: center;
    justify-content: center;

}
.form-addproduct{
    background-color: var(--main);
    color: var(--white);
    padding: 15px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: -10px 10px 20px  black;
}
.form-addproduct h2{
    margin-left: 50%;
    transform: translateX(-40%);
}
.form-addproduct-inner{
    display: flex;
}
.form-addproduct-inner .form-left,
.form-addproduct-inner .form-right {
    margin: 15px;
}
.form-addproduct-inner .form-left .green{
    margin-top: 5px;
    color: rgb(38, 255, 0);
}

.form-addproduct #description{
    width: 15rem;
}
.form-addproduct #file_uploader{
    width: 15rem;
    font-size: 12px;
}
.form-addproduct .submit-btn{
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 5px 4rem;
    background-color: var(--secondary);
    color: var(--white);
    font-weight: bold;
}

/*-------------------------------------------------category box---------------------------------------------------*/

.category-addbox{
    background-color: var(--main);
    color: var(--white);
    min-width: 20vw;
    height: 50vh;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.category-addbox input{
    padding: 5px;
    margin: 5px 0;
}
    .category-addbox label,textarea{
    font-size: 13px;
    padding-top: 10px;
}
.category-addbox .sign-btn{
   background-color: var(--secondary);
   color: var(--white);
   width: 5rem;
   margin-left: 50%;
   transform: translateX(-50%);

}
/*--------------------------------------------------admin products---------------------------------------------------*/
.product-details-box .product{
   width: 70vw;
   min-height: 12rem;
   margin-left: 5vw;
   display: flex;
   margin-bottom: 1rem;
   border: 2px solid grey;
   align-items: center;
}
.product .product-image{
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
    margin: 0 1rem;
}
.product .product-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product .product-description p{
    display: inline-block;
    margin: 0 10px;
}
.product .product-description p span{
    font-size: 15px;
    font-weight: bold;
}


/*-----------------------------------------------------default-------------------------------------------------------*/

.error-message{
    color: var(--error);
    margin-top: 5px;
    font-size: 15px;

}

/*-----------------------------------------------------footer-----------------------------------------------------*/

footer{
    position: relative;
    display: flex;
    font-size: 12px;
    padding: 0 2rem;
    background-color: var(--main);
    color: var(--white);
    z-index: 50;
}

footer>.description{
    word-wrap: break-word;
    flex: 1;
    padding-right: 20rem;
}

footer>.policy,footer>.footerflex,footer>.help{
    flex: 1;
    font-weight: bold;
}
